bin/
obj/
obj/Debug/
obj/Debug/net6.0/
.vs/
cliente/obj/
cliente/obj/
GrpcService/obj/
SOAPService/obj/

SOAPService/obj/Debug/

cliente/bin/Debug/net6.0/GrpcClientAPI.dll
cliente/bin/Debug/net6.0/GrpcClientAPI.pdb
cliente/bin/Debug/net6.0/GrpcService.dll
cliente/bin/Debug/net6.0/GrpcService.pdb
SOAPService/bin/Debug/net6.0/SOAPService.dll
SOAPService/bin/Debug/net6.0/SOAPService.pdb

cliente/bin/Debug/net6.0/
SOAPService/obj/Debug/SOAPService.csproj.CoreCompileInputs.cache
SOAPService/obj/Debug/SOAPService.csproj.FileListAbsolute.txt

cliente/bin/Debug/net6.0/GrpcClientAPI.dll
cliente/bin/Debug/net6.0/GrpcClientAPI.dll
